{% load static %}
<html>
      <head>
            <!-- CSS Import -->
            <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
            <title>Bootstrap Demo</title>
      </head>

      <body>
            <div class = "container">
                  <h1 class = "text-right text-uppercase font-bold">Main Content</h1>
            </div>

            <div class="container">
                  <div class="row">
                        <div class="col-sm">
                              <p class = "text-center font-italic">One of three columns</p>
                        </div>

                        <div class="col-sm">
                              <p class = "text-center font-italic">One of three columns</p>
                        </div>

                        <div class="col-sm">
                              <p class = "text-center font-italic">One of three columns</p>
                        </div>
                  </div>
            </div>
            <footer>
                  <div class = "container">
                        <p> Bottom of content change</p>
                  </div>
            </footer>

            <!-- JS Import -->
            <script src="./js/bootstrap.js"></script>
      </body>
</html>
